@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.fade-in {
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}

.fade-in.show {
  opacity: 1;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}